In [ ]:
-- Use CETAS to export select statement
IF OBJECT_ID('dbo.fact_accident_dates') IS NOT NULL
BEGIN
  DROP EXTERNAL TABLE [dbo].[fact_accident_dates];
END

CREATE EXTERNAL TABLE dbo.fact_accident_dates
WITH (
    LOCATION    = 'fact_accident_dates',
    DATA_SOURCE = [datalakefilesystem_datalakestorage123456_dfs_core_windows_net],
	FILE_FORMAT = [SynapseDelimitedTextFormat]
)  
AS
SELECT sa.[ID] AS AccidentId, sa.[Start_Time] AS AccidentDate
FROM [dbo].[staging] sa;
GO

-- Query the newly created CETAS external table
SELECT TOP 100 * FROM dbo.fact_accident_dates
GO